.card {
    width: 150px;
    height: 200px;
    background-color: bisque;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}